body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(178, 209, 230);
}
.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  width: 100%;

  position: fixed;
  z-index: 30;
}

nav {
  padding: 0 30px;
}

.general-cart {
  cursor: pointer;
  color: white;

  right: 5%;
  top: 0.9rem;
  padding: 0 20px;

  position: fixed;
  z-index: 30;
}

a {
  color: inherit;
}

.content {
  padding: 80px 0;
}

.select {
  position: relative;
  z-index: 20;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.card-image {
  vertical-align: middle;
  text-align: center;
  padding: 0.5rem;

  flex-grow: 1;
}

.card-title {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #7fb7e7;
  margin-bottom: 1rem;
}

.card-name {
  width: 85%;
  text-align: left;
  margin-right: 3%;
}

.more {
  cursor: pointer;
  position: absolute;
  right: 0%;
  bottom: 3%;
}

.reveal {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
}

.card-description {
  text-align: justify;
  overflow: scroll;
}

.card-price {
  position: relative;
  top: 0.5rem;
  width: 100%;
  text-align: justify;
}

.add-to-cart {
  cursor: pointer;
  display: inline-block;
  text-align: right;

  position: absolute;
  left: 84%;
  top: 0.5rem;

  font-size: 2rem;
  border-width: 0px;
}

.add-to-cart:active {
  color: rgb(243, 124, 44);
  opacity: 80%;
}

.add-to-cart:hover,
.general-cart:hover {
  transform: scale(1.1);
}

.cart-quantity {
  color: #ffffff;
  background-color: #ff0000;

  position: absolute;
  left: 90%;
  top: -0.6rem;
  padding: 1px 8px;

  border-radius: 22px;
  text-align: center;
}

.offset {
  left: 60%;
}

.cart-close {
  cursor: pointer;
  position: absolute;

  right: 5%;
  padding-top: 1%;
}

.cart-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.cart-list {
  width: 800px;
  height: auto;
  min-height: 200px;

  font-size: 16px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1% 1% 20px 1%;
  position: fixed;
  z-index: 10;

  border-radius: 10px;
  border-style: solid;
  border-color: rgb(46, 127, 180);
  background-color: rgb(223, 231, 236);

  animation: show 500ms ease-in-out;
}

.list-header {
  padding-bottom: 2%;
}

.list-content {
  position: relative;
  width: 100%;

  max-height: 250px;

  margin-right: 5%;

  box-sizing: content-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.item-list {
  box-sizing: content-box;
  margin: 0 3%;
  padding: 2% 0;

  border-top: 1px solid #7fb7e7;

  display: flex;
  align-items: flex-start;
}

.item-list:last-child {
  border-bottom: 1px solid #7fb7e7;
}

.cart-title {
  height: auto;
  padding: 1% 3% 2% 3%;

  color: #5e6977;
  font-size: 3rem;
  font-weight: bold;
}

.item-image img {
  width: 5rem;
  margin-right: 2rem;
  vertical-align: middle;
}

.item-name {
  width: 17rem;

  margin-right: 2rem;
  vertical-align: middle;

  flex-grow: 2;
}

.item-price {
  width: 4rem;
  margin-right: 1.5rem;
  text-align: left;

  flex-grow: 1;

  flex-shrink: 0;
}

.item-amount {
  margin-right: 30px;

  flex-grow: 1;

  flex-shrink: 0;

  vertical-align: middle;

  position: relative;
}

.inc-dec {
  cursor: pointer;
  position: relative;
  top: -5px;

  font-weight: bold;
  color: #0091ea;
  padding: 5px;
  border-radius: 10px;
  background-color: #e1f5fe;
}

.item-quantity {
  cursor: pointer;
  height: auto;

  position: relative;
  top: -11px;
}

.item-cost {
  min-width: 6.5rem;
  margin-right: 30px;
  flex-grow: 1;
  overflow: auto;

  flex-shrink: 0;
}

.item-del {
  text-align: right;

  flex-shrink: 0;
}

.list-footer {
  position: relative;
  bottom: 2%;
}

.total {
  position: relative;
  top: 1.5%;
  left: 0%;

  font-size: 1.5rem;

  margin-top: 20px;
  padding: 0 3%;
  text-align: left;
}

.checkout {
  position: absolute;
  right: 2%;
  top: 2%;

  margin-right: 1%;
  background: rgb(62, 70, 172);
  color: white;
  border-radius: 10px;
  text-align: center;
}

.cart-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  font-size: 1.5rem;
  font-weight: 200;

  padding-top: 20px;

  text-align: center;
}

#toast-container {
  position: fixed;
  top: 10%;
  left: 50%;

  transform: translate(-50%, -10%);
  z-index: 40;

  animation: fade-in 500ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    top: 15%;
  }
}

@media (max-width: 830px) {
  .cart-list {
    width: 90%;
    overflow: hidden;
  }
  .cart-title {
    font-size: 30px;
    text-align: center;
  }
  .item-list {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-image img {
    width: 50%;
    margin: auto;
  }
  .item-image,
  .item-name,
  .item-price,
  .item-amount,
  .item-cost,
  .item-del {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .item-quantity {
    top: 0px;
  }
  .inc-dec {
    top: 4px;
  }

  #toast-container {
    box-sizing: border-box;
    width: 50%;
    padding: 50px;
  }
}

@media (max-width: 450px) {
  .total {
    font-size: 1.2rem;
  }
}
